li {
  text-decoration: none;
  list-style-type: none;
}

a {
  text-decoration: none;
}

a:hover h3 {
  text-decoration: underline;
}

/* ShowId */
.show-details__poster {
  height: 200px;
  background-size: cover;
}

/* Cast */
.cast__list {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  padding: 0;
  margin: 0;
}

.cast__list li {
  margin-right: 1rem;
}

.tvshows {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.tvshows li {
  margin-right: 1rem;
}

/* Thumbnail */
.thumbnail__image {
  width: 100%;
}

.thumbnail__caption {
  text-align: center;
  font-weight: lighter;
}

.thumbnail {
  width: 100px;
  text-decoration: none;
}
