@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
}

li {
  text-decoration: none;
  list-style-type: none;
}

a {
  text-decoration: none;
}

a:hover h3 {
  text-decoration: underline;
}

p {
  line-height: 1.4rem;
  margin: 0.2rem;
}

select {
  padding: 0.3rem;
  border-radius: 5px;
}

/* Header */
.header {
  padding: 20px;
  background-color: #333;
  color: #fff;
  text-align: center;
}

/* Home */
.home {
  margin-top: 1rem;
}

/* ShowId */
.show-details__poster {
  height: 200px;
  background-size: cover;
}

.show-details h1 {
  margin: 1.5rem 0.2rem;
}

/* Cast */
.cast {
  margin: 1.2rem 0.2rem;
}
.cast > h3 {
  margin-bottom: 1rem;
}

.cast__list {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  padding: 0;
  margin: 0;
}

.cast__list li {
  margin-right: 1rem;
}

.tvshows {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.tvshows li {
  margin-right: 1rem;
}

/* Thumbnail */
.thumbnail {
  width: 100px;
  text-decoration: none;
  margin: 1.25rem 1rem;
}

.thumbnail__image {
  width: 100%;
  margin: 0;
}

.thumbnail__caption {
  text-align: center;
  font-weight: lighter;
  font-size: 0.8rem;
}

.thumbnail__caption h3 {
  margin: 0;
  padding: 0;
}

/* signin form */
.signin,
.signup {
  max-width: 35%;
  margin: 0 auto;
}

.signin h3,
.signup h3 {
  text-align: center;
  margin: 1.2rem 0;
  font-size: 1.8rem;
  color: cadetblue;
}

.signin form,
.signup form {
  margin-top: 1rem;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.signin form input,
.signup form input {
  display: block;
  margin-bottom: 1rem;
  padding: 10px;
  width: 100%;
  border-radius: 0.25rem;
  outline: none;
}

.signin form input[type='submit'],
.signup form input[type='submit'] {
  cursor: pointer;
  background-color: skyblue;
  font-size: 1.2rem;
}

/* Error */
.error {
  color: red;
  padding: 10px;
  text-align: center;
  border: 1px solid red;
  margin-top: 1rem;
}

/* loader */
.loader {
  display: block;
  text-align: center;
  margin: 0 auto;
  margin-top: 2.5rem;
}
